* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #DCD7C7;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
}
.navbar .logo {
  width: 60px;
  height: 60px;
  grid-column: 2/3;
}
.navbar .menu {
  grid-column: 4/7;
  display: flex;
  justify-content: space-around;
}
.navbar .menu li {
  list-style: none;
}
.navbar .menu a {
  text-decoration: none;
  color: #181818;
  cursor: pointer;
}
.navbar .menu a:hover {
  color: white;
}
.navbar .compra {
  grid-column: 8/9;
}
.navbar .menu-hamburguesa {
  display: none;
  font-size: 1.5em;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .navbar .menu {
    display: none;
  }
  .navbar .compra {
    display: none;
  }
  .navbar .menu-hamburguesa {
    display: block;
    grid-column: 6/7;
  }
}

.menu-desplegable {
  display: none;
  position: absolute;
  top: 60px;
  right: 10px;
  background-color: #DCD7C7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
}
.menu-desplegable ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.menu-desplegable li {
  padding: 10px;
  text-align: center;
  list-style: none;
}
.menu-desplegable a {
  color: #181818;
  text-decoration: none;
}
.menu-desplegable a:hover {
  color: white;
}
.menu-desplegable.show {
  display: block;
}

.footer {
  width: 100%;
  background-color: #DCD7C7;
  margin-top: auto;
}
.footer .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
.footer .grupo-1 .box figure {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .grupo-1 .box figure img {
  width: 100px;
  height: auto;
}
.footer .grupo-1 .box h2 {
  color: #181818;
  font-size: 20px;
}
.footer .grupo-1 .box p {
  color: black;
}
.footer .grupo-1 .red-social a {
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #DCD7C7;
  background-color: #181818;
  text-align: center;
  transition: all 300ms ease;
  text-decoration: none;
}
.footer .grupo-1 .red-social a:hover {
  color: rgb(4, 0, 255);
}
.footer .grupo-2 {
  background-color: #181818;
  padding: 15px 10px;
  text-align: center;
  color: #DCD7C7;
}
@media screen and (max-width: 768px) {
  .footer .grupo-1 {
    grid-template-columns: 1fr;
    grid-gap: 30px;
    padding: 35px 0px;
  }
  .footer .grupo-2 {
    padding: 10px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .menu-desplegable {
    display: none;
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: #DCD7C7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
  }
  .menu-desplegable ul {
    display: flex;
    flex-direction: column;
  }
  .menu-desplegable ul li {
    padding: 10px;
    text-align: center;
  }
  .menu-desplegable ul li a {
    color: #181818;
    text-decoration: none;
  }
  .menu-desplegable ul li a:hover {
    color: white;
  }
  .menu-desplegable.show {
    display: block;
  }
}
.todo {
  min-height: 100vh;
  height: 100%;
  background-image: url(../img/fondo.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
  margin: 0;
}
.todo .info {
  color: #181818;
  padding: 20px;
  text-align: center;
}
.todo .info h1 {
  font-family: "Times New Roman", Times, serif;
  background-color: #DCD7C7;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.todo .info p {
  font-family: "Times New Roman", Times, serif;
  background-color: #DCD7C7;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.todo .info .boton {
  font-size: 1em;
  background: none;
  color: black;
  padding: 10px 20px;
  border: 1px solid #DCD7C7;
  border-radius: 30px;
  margin-top: 15px;
  background-color: #DCD7C7;
}
.todo .info .boton:hover {
  background-color: #a89e7b;
}
.todo .info p {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2em;
  margin-top: 10px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.vinos-galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
  padding: 20px;
}
.vinos-galeria .vino {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.vinos-galeria .vino figure {
  margin: 0;
}
.vinos-galeria .vino figure img {
  width: 50%;
  height: 50%;
  max-height: 200px;
  border-radius: 10px;
  object-fit: cover;
}
.vinos-galeria .vino figure figcaption {
  font-weight: bold;
  color: #181818;
  margin: 10px 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.vinos-galeria .vino figure .boton-comprar {
  background: rgb(10, 10, 32);
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}
.vinos-galeria .vino figure .boton-comprar:hover {
  background: black;
}
@media screen and (max-width: 768px) {
  .vinos-galeria {
    grid-template-columns: 1fr;
    gap: 15px;
  }
  .vinos-galeria .vino {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .info h1 {
    font-size: 2em;
  }
}
.preguntas-frecuentes {
  margin: 2rem auto;
  max-width: 800px;
}

.p-f {
  background-color: #DCD7C7;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.p-f h3 {
  margin-bottom: 0.5rem;
  color: #333;
}

.p-f p {
  margin: 0;
  color: #555;
  line-height: 1.6;
}

/*# sourceMappingURL=style.css.map */
